/* ========================
Pizza Lore main custom css
======================== */

/* ----------------
  General Elements
----------------- */
body {
  background-color: whitesmoke;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
  url(../images/pizza-ringballs.png);
  color: whitesmoke;
}
.jumbotron {
  margin-top: 170px;
}
.footer{
  text-align: center;
}
.pad {
  padding-top: 170px;
  padding-bottom: 50px;
}

.history{
  background-color:black;
  opacity: 0.5
}

.nontransparent{
  opacity:1;
  color: white;
}

/* --------
  Home Page
--------- */

/* Pizza Hero Section */
.pizza-hero {
  /* background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
  url(../images/pizza-ringballs.png); */
  /* background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  color: white;
  margin-top:136px; */
}
.pizza-superhero {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
  url(../images/Roman2.jpg);
  /* background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
  color: white;
} */
.pizza-villian {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
  url(../images/NewYork.jpg);
  background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 50%;
  color: white;
}

/* Pizza Content Section */
.pizza-content {
  background: whitesmoke;
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  color: black;
}

/* Styles of Pizza content */
.spacing{
  margin-top:300px;
}

.error
{
  color: red;
  text-align: right;
  padding: 0px 50px;
}